
html
    head
        meta( name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" )
        link( rel="preconnect" href="https://fonts.gstatic.com" )
        link( href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap" rel="stylesheet" )
        link( rel="stylesheet" href="index.css" )

    body
            .baground 
                .top
                    .kiss
                    .logo
                    .coms 
                        span Сoming Soon
                .border
                    .textborder 
                        span Amazing games of chance are waiting for you at Neon54 Casino. Our website is not running yet, but it’s only a matter of time! We’re going to open soon, so stay tuned until any further notice!
                .payment
                    img.pay(src="img/payment/1.png") 
                    img.pay(src="img/payment/2.png")
                    img.pay(src="img/payment/3.png")
                    img.pay(src="img/payment/4.png")
                    img.pay(src="img/payment/5.png")
                    img.pay(src="img/payment/6.png")
                    img.pay(src="img/payment/7.png")
                    img.pay(src="img/payment/8.png")
                    img.pay(src="img/payment/9.png")
                    img.pay(src="img/payment/10.png")
                    img.pay(src="img/payment/11.png")
                    img.pay(src="img/payment/12.png")
                    img.pay(src="img/payment/13.png")
                    img.pay(src="img/payment/14.png")
                .games
                    img.game(src="img/games/01.png")
                    img.game(src="img/games/02.png")
                    img.game(src="img/games/03.png")
                    img.game(src="img/games/04.png")
                    img.game(src="img/games/05.png")
                    img.game(src="img/games/06.png")
                .footer
                    .text
                        span Neon54.com is operated by Araxio Development N.V., a company registered and established under the laws of Curaçao and its wholly owned subsidiary Tranello Ltd., a company incorporated under the laws of Cyprus with company registration number HE363026 and having its registered office at Julianaplein 36, Willemstad, Curacao. 
                        span.neon2 Tilaros Limited, registered at 4 Promitheos st, 1065, Nicosia, Cyprus, provides payment management services to Rabidi N.V.

                    .icons
                        img.icon1(src="img/icon-footer/18+.png")
                        img.icon2(src="img/icon-footer/miomedia.png")
                        img.icon3(src="img/icon-footer/buton.png")
                        img.icon4(src="img/icon-footer/cuw.png")
                    .reserved
                        span 2021 © Neon54.com All rights reserved